.dash-in-panel-icon,
.dash-in-panel-show-apps-button {
  padding: 0 8px;

  border: 2px solid transparent;
  border-left-width: 1px;
  border-right-width: 1px;
  border-radius: 6px;
  background-color: transparent;

  transition-duration: 150ms;
}

.dash-in-panel-show-apps-button {
  margin-right: 16px;
  margin-left: 0px;
}

.dash-in-panel-icon:hover,
.dash-in-panel-show-apps-button:hover {
  background-color: rgba(142, 142, 142, 0.18);
}

.dash-in-panel-focused-app,
.dash-in-panel-colored-focused-app {
  border-color: transparent;
  background-color: transparent;
}

.dash-in-panel-running-indicator {
  background-color: -st-accent-color;
}

.dash-in-panel-inactive-running-indicator {
  background-color: st-transparentize(-st-accent-color, 0.34);
}

.dash-in-panel-demands-attention-app {
  border-color: transparent transparent st-transparentize(red, 0.15) transparent;
  background-color: transparent;
}

.dash-in-panel-separator {
  margin-right: 8px;
  margin-left: 8px;
  width: 1px;
  background-color: rgba(142, 142, 142, 0.75);
}
